#Home {
    position: relative;
}

#WelcomeToMain {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 100px;

}

#WelcomeTextDiv {
    display: inherit;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: solid 4px;
    border-color: #212121;
    background-color: #0b7b9e;
    border-radius: 50px;
}

#WelcomeToMain p {
    font-size: 30px;
    color: #f2f3f4;
}

/*RESPONSIVE DESIGNS*/
@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
}