#Navbar {
    list-style: none;
    width: auto;
    height: auto;
    overflow: hidden;
    border: 2px solid;
    padding: 10px;
}

.NavItem {
    display: inline;
    float: right;
    width: auto;
    font-size: 40px;
    margin: 5px;
    color: #f2f3f4;
}

/*.NavItem:hover {
    background-color: #0b7b9e;
}*/