#Navbar {
    list-style: none;
    width: auto;
    height: fit-content;
    overflow: hidden;
    border: 2px solid;
    padding: 10px;
    z-index: -1;
}

.NavItem {
    display: inline;
    float: right;
    width: auto;
    height: 100%;
    font-size: 40px;
    margin: 5px;
    color: #f2f3f4;
    cursor: pointer;
}

#OpenCloseMenu {
    height: fit-content;
    width: 40px;
    margin-top: 10px;
    cursor: pointer;
}

#NavListDesktop {
    list-style: none;
    width: auto;
    height: auto;
    overflow: hidden;
}

.NotToggled {
    display: none;
}

.Toggled {
    display: flex;
}

#NavListMobile {
    position: relative;
    flex-direction: column;
    float: right;
    background-color: #212121;
    border: 2px solid #0c0c0c;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    #OpenCloseMenu, #NavListMobile {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #NavListDesktop {
        display: none;
    }

    #Navbar {
        border: none;
    }

    .NavItem {
        text-align: center;
    }
}
