#userInput {
    margin: 0 auto;
    width: auto;
    text-align: center;
    padding: 10px;
    border: 3px solid;
}

#SelectedImageDiv {
    display: grid;
    margin: 40px;
}

.ImageSelected {
    height: auto;
}

.ImageNotSelected {
    height: fit-content;
}

.InputArea {
    position: relative;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 1;
}

#Input {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    
}

#SelectedImage {
    width: 100%;
    height: auto;
}

#InputText {
    font-size: 40px;
    text-align: center;
}

.Invisible {
    display: none;
}

#UploadStuff {
    align-self: center;
    width: 100%;
}

#UploadLogo {
    width: auto;
    height: auto;
    
}

#UploadText {
    font-size: 40px;
    width: 100%;
    text-align: center;
}