#userInput {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    border: 2px solid;
}

#SelectedImageDiv {
    display: grid;
}

.ImageSelected {
    height: auto;
}

.ImageNotSelected {
    height: fit-content;
}

.InputArea {
    position: relative;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 1;
}

#Input {
    width: 100%;
    height: auto;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    
}

#SelectedImage {
    width: 100%;
    height: auto;
}

#InputText {
    font-size: 40px;
    text-align: center;
}

.Invisible {
    display: none;
}

#UploadStuff {
    align-self: center;
    width: 100%;
}

#UploadLogo {
    width: auto;
    height: auto;
    margin: 50px 50px 0px 50px    
}

#UploadText {
    font-size: 40px;
    margin: 0px 50px 50px 50px;
    width: auto;
}

#UserButtons {
    display: inline-block;
    width: 100%;
    height: fit-content;
    
    text-align: center;
}

.UserButton {
    width: 35%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

#UserText {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
}

.UserTextContent {
    margin: 0 auto;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.Resizeable {
    resize: vertical;
    overflow: hidden;
    height: 25px;
    min-height: 25px;
    max-height: 100px;
}

@media screen and (max-width: 768px)
{
    #UploadText {
        display: none;
    }

    #UploadLogo {
        width: 50%;
        margin: 50px 0px 50px 0px;
    }
}