#userInput {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding: 10px;
}

#input {
    width: 80%;
    height: 20px;
    margin: 5px
}

.Invisible {
    display: none;
}

#SelectedImageDiv {
    margin: 10px;
}

#SelectedImage {
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 1px solid #212121;
}