#ViewSinglePost {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

#SinglePostImage {
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 500px;
    object-fit: contain;
    padding: 20px;
    margin-bottom: 10px;
}

#SinglePostDetails {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#SinglePostDetails p {
    display: block;
    width: 50%;
    font-size: 25px;
    
    
    
}